<!DOCTYPE html>
<html lang="en">
<link href="/css/search.css" rel="stylesheet" type="text/css"/>
<style type="text/css">
    h2{font-family: Arial,serif;}
    .wrapper {width: 100%;text-align: center;}
    .big {font-size: 72px}
</style>
<head>
    <meta charset="UTF-8"/>
    <title>Page not found</title>
</head>
<body>
<div class="wrapper">
    <div class="big">
        <h2>Page not found</h2>
        <h1>¯\_(ツ)_/¯</h1>
        <form action="/">
            <input type="submit" id="go" value="Return to safety">
        </form>
    </div>
</div>
</body>
</html>